/*Todo list CSS */
.todo-items-container {
  width: 500px;
  height: 100%;
  padding: 50px;
  margin: 0 auto;
  border: solid 2px orange;
}

.add-new-item {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
  margin-bottom: 30px;
}

.add-new-input {
  flex: 4;
  padding: 10px;
}

.add-new-btn {
  flex: 1;
  padding: 10px;
  background-color: rgb(255, 102, 0);
  border: solid 2px rgb(167, 69, 4);
  color: #fff;
}

/*Done List CSS */
.done-items-container {
  width: 500px;
  height: 100%;
  padding: 50px;
  margin: 30px auto;
  border: solid 2px rgb(255, 38, 0);
}
